<ul class="breadcrumb" style="margin: 5px;">
<% breadcrumb.each do |bc| %>
  <% if bc[:id].nil? %>
  <li><a href="/mdwiki">HOME</a></li>
  <% else %>
  <li><a href="/mdwiki/<%= bc[:id] %>"><%= bc[:title] %></a></li>
  <% end %>
<% end %>
<li class="active"><%= title %></li>
</ul>
