<%= render(:partial => 'menu', :locals => { :url => @url }) %>

<div id="edit_frame" style="position:absolute;width:100%;top:65px;bottom:20px;">
  <div class="container" style="height:100%;">
    <textarea class="form-control" style="height:100%" id="content"><%= @page.content %></textarea>
  </div>
</div>
<style>
  html,body {
    height:100%;
  }
</style>
<script>
  $( document ).ready(function() {
    $('#edit_frame').css('top', $('#menu_nav').height() + 15)
  });
  $(window).resize(function() {
    $('#edit_frame').css('top', $('#menu_nav').height() + 15)
  });
</script>
