<%= content_tag(:div, nil) do %>
  <%= render(:partial => "header", :object  => @f_permit) %>
<% end %>

<div class="mdwiki_list">
  <%= content_tag(:div, nil, {:id => ('div_' + Content::ROOT_PARENT_ID)}) do %>
    <%= render(:partial => "list", :locals => {
      :summaries_list => @summaries_list, :current_id => Content::ROOT_PARENT_ID}) %>
  <% end %>
</div>
