# user => User name is required.
# pass => Password. If undefined, does not require authentication.
# mail => Mail Address.
# role => reader | editor | admin
users:
  - user: subscriber
    pass: 
    mail:
    role: 
  - user: admin
    pass: 8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
    mail:
    role: admin
