// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.env_production {
}

body.env_development {
  background-color: skyblue;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
}

input, button {
  font-family: monospace;
}

.alert {
  background-color: hotpink;
}

.alert_message {
  position:      absolute;
  bottom:        10px;
  right:         10px;
  background:    lawngreen;
  padding:       5px;
  border-radius: 5px;
  color:         white;
  display:       none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
