// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mdwiki_login {
  position: absolute;
  left: 5px;
  right: 5px;
  top:   30%;
  text-align: center;
}

