// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mdwiki_logo {
  font-family: 'Poiret One', cursive;
  font-size: 50px;
}

a.mdwiki_logo_link {
  margin-left: 10px;
}

a.mdwiki_logo_link:link    { color:#000000; text-decoration:none }
a.mdwiki_logo_link:visited { color:#000000; text-decoration:none }
a.mdwiki_logo_link:hover   { color:#ffaaaa; text-decoration:none }
a.mdwiki_logo_link:active  { color:#000000; text-decoration:none }
