<!DOCTYPE html>
<html>
<head>
  <title>Mdwiki</title>
  <!-- jQuery -->
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- jQuery UI -->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- Bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
